.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
__pycache__/
*.egg-info
.venv/
build/
dist/
.databricks/
.databrickscfg
scratch/**
!scratch/README.md
gcp-creds/**
running_commands.txt
.env
*.log
.ipynb_checkpoints/
.cache/
.coverage
htmlcov/
.mypy_cache/